body {
  padding: 5%;
  font-size: 1rem;
}

.start {
  background-color: #F9EBC8;
  height: 100px;
  padding: 1%;
  margin-bottom: 3%;
}

.cagrCalc {
  background-color: #FEFBE7;
  padding: 1%;
  margin-bottom: 3%;
}

.cellAdjusted {
  width: 15%;
}

.fvCalc {
  background-color: #DAE5D0;
}
